*.🤖 {
	content: url(/emoji/robot_1f916.png);
}
*.💗 {
	content: url(emoji/growing-heart_1f497.png);
}
*.😅 {
	content: url(emoji/grinning-face-with-sweat_1f605.png);
}
*.emoji {
	width: 30px;
	height: 30px;
	transform: 	translateY(5px);
	margin-left: 	3px;
	margin-right: 	3px;
}

@media screen and (min-width: 1000px) {
	body {
		overflow-x: hidden;
	}
	.bg {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: rgb(28, 28, 30);
	}
	
	.content {
		position: absolute;
		top: 0px;
		left: 0px;
		width: calc(100vw - 100px);
		padding-left: 50px;
		padding-top: 50px;
		padding-right: 50px;
		padding-bottom: 20px;
		overflow-x: hidden;
	}
	.content .bar {
		position: relative;
		padding: 30px;
		display: flex;
		color: white;
		margin-bottom: 50px;
	}
	.content .bar .logo {
		color: white;
		font-family: sans-serif;
		font-weight: 800;
		font-size: 36px;
		line-height: 40px;
		user-select: none;
		cursor: pointer;
		display: inline-block;
	}
	.content .bar .menu {
		display: inline-block;
		list-style: none;
		text-align: right;
		align-content: right;
		flex: 1;
		margin: 0px;
		user-select: none;
		line-height: 40px;
	}
	.content.rick-and-morty .bar .menu li {
		display: inline-block;
		font-family: sans-serif;
		font-size: 20px;
		cursor: pointer;
		line-height: 30px;
		margin-right: -4px;
		padding: 20px;
		background: rgba(28, 28, 30, 0.95);
	}
	.content.rick-and-morty .bar .menu li:nth-child(1) {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	.content.rick-and-morty .bar .menu li:nth-child(4) {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.content .bar .menu li {
		display: inline-block;
		font-family: sans-serif;
		font-size: 20px;
		cursor: pointer;
		line-height: 30px;
		margin-right: 20px;
	}
	.content .home-content {
		max-width: 1000px;
		min-width: 1000px;
		margin-left: calc(50% - 500px);
	}
	.content.rick-and-morty .home-content {
		padding: 20px;
		max-width: 960px;
		min-width: 960px;
		background: rgba(28, 28, 30, 0.95);
		border-radius: 10px;
	}
	.content .home-content .title {
		margin: 0;
		padding: 0;
		color: white;
		font-size: 30px;
		font-weight: 900;
		font-family: sans-serif;
	}
	.content .home-content p {
		font-size: 20px;
		color: white;
		font-family: sans-serif;
		margin-bottom: 10px;

	}
	.content .footer {
		margin-top: 100px;
		display: flex;
	}
	.content .footer ul {
		flex: 1;
	}
	.content .footer .title-footer {
		color: white;
		font-size: 20px;
		font-family: sans-serif;
		font-weight: 800;
		list-style: none;
		text-align: center;
	}
	.content .footer li.link {
		list-style: none;
		color: white;
		font-size: 16px;
		font-family: sans-serif;
		font-weight: 600;
		margin-top: 10px;
		text-decoration: underline;
		cursor: pointer;
		transition: 0.1s;
	}
	.content .footer li.link:hover {
		color: #0077FF;
	}
	.content .video-transperent-cube {
		width: 300px;
		height: 300px;
		margin-left: calc(50% - 150px);
		opacity: 1;
		filter: brightness(0.897);
	}
	.content p.center {
		text-align: center;
		font-family: monospace;
		font-size: 16px;
	}
	.content .news-box {
		width: 100%;
		text-align: center;
		align-content: center;
		align-items: center;
		margin-top: 20px;
	}
	.content .news-box img {
		width: calc(50% - 20px);
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
		border-radius: 8px;
		transition: 0.1s;
		margin-left: 10px;
		display: inline;
		margin-bottom: 10px;
	}
	.content .news-box img:hover {
		box-shadow: 0 0 10px white;
	}


	.download-box {
		width: calc(100% - 20px - 150px	);
		margin: 10px;
		background: rgba(255, 255, 255, 0.1);
		height: 90px;
		border-radius: 10px;
		padding-left: 150px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.download-box .icon {
		width: 130px;
		height: 130px;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.1);
		margin-top: -20px;
		border-radius: 9px;
		margin-left: -140px;
	}
	.download-box .name {
		width: 100%;
		line-height: 30px;
		font-size: 26px;
		color: white;
		position: relative;
		user-select: none;
		display: block;
		font-family: sans-serif;
	}
	.download-box .description {
		width: 100%;
		line-height: 20px;
		font-size: 18px;
		color: white;
		font-family: sans-serif;
		padding-top: 10px;
		opacity: 0.4;
		user-select: none;
	}
	.one-more-time-box {
		width: calc(100% - 40px);
		padding: 20px;
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.1);
		font-family: sans-serif;
		color: white;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.one-more-time-box .one-more-time-box-title {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	.ram-box-season {
		margin: 10px;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 8px;
		padding: 20px;
		height: 150px;
		color: white;
		font-family: sans-serif;
		user-select: none;
		cursor: pointer;
	}
	.ram-box-season * {
		display: inline-block;
	}
	.ram-box-season img {
		position: absolute;
		border-radius: 6px;
	}
	.ram-box-season .name {
		font-size: 24px;
		margin-left: calc(150px / 9 * 16 + 20px);
		width: calc(1000px - 120px - (150px / 9 * 16));
		position: absolute;
		line-height: 150px;
		text-align: center;
		font-weight: 800;
	}

}


























@media screen and (max-width: 1000px) {
	.bg {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: rgb(28, 28, 30);
	}
	.content {
		position: absolute;
		top: 0px;
		left: 0px;
		width: calc(100vw - 20px);
		padding-left: 10px;
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
		overflow-x: hidden;
	}
	.content .bar {
		position: relative;
		padding: 30px;
		display: flex;
		color: white;
		margin-bottom: 50px;
	}
	.content .bar .logo {
		color: white;
		font-family: sans-serif;
		font-weight: 800;
		font-size: 36px;
		line-height: 40px;
		user-select: none;
		cursor: pointer;
		display: inline-block;
	}
	.content .bar .menu {
		display: inline-block;
		list-style: none;
		text-align: right;
		align-content: right;
		flex: 1;
		margin: 0px;
		line-height: 40px;
	}
	.content .bar .menu li {
		display: inline-block;
		font-family: sans-serif;
		font-size: 20px;
		cursor: pointer;
		user-select: none;
		margin-right: 20px;
	}
	.content .home-content {
		padding: 10px;
	}
	.content .home-content .title {
		margin: 0;
		padding: 0;
		color: white;
		font-size: 30px;
		font-weight: 900;
		font-family: sans-serif;
	}
	.content .home-content p {
		font-size: 18px;
		color: white;
		font-family: sans-serif;
		margin-bottom: 10px;
		line-height: 30px;

	}

	.content .footer {
		margin-top: 100px;
		display: block;
	}
	.content .footer ul {
		margin-bottom: 20px;
	}
	.content .footer .title-footer {
		color: white;
		font-size: 20px;
		font-family: sans-serif;
		font-weight: 800;
		list-style: none;
		text-align: center;
	}
	.content .footer li.link {
		list-style: none;
		color: white;
		font-size: 16px;
		font-family: sans-serif;
		font-weight: 600;
		margin-top: 10px;
		text-decoration: underline;
		cursor: pointer;
		transition: 0.1s;
	}
	.content .footer li.link:hover {
		color: #0077FF;
	}

	.content p.center {
		text-align: center;
		font-family: monospace;
		font-size: 16px;
	}

	.content .news-box {
		width: 100%;
		text-align: center;
		align-content: center;
		align-items: center;
		margin-top: 20px;
	}
	.content .news-box img {
		width: calc(100%  - 20px);
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
		border-radius: 8px;
		transition: 0.1s;
		display: inline;
		margin-bottom: 10px;
	}
	.content .news-box img:hover {
		box-shadow: 0 0 10px white;
	}

	.content .video-transperent-cube {
		width: 300px;
		height: 300px;
		margin-left: calc(50% - 150px);
		opacity: 1;
		filter: brightness(0.897);
	}



	.download-box {
		width: calc(100% - 20px);
		margin: 10px;
		background: rgba(255, 255, 255, 0.1);
		height: 90px;
		border-radius: 10px;
		padding-top: 150px;
		padding-bottom: 10px;
	}
	.download-box .icon {
		width: 130px;
		height: 130px;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.1);
		margin-top: -140px;
		border-radius: 9px;
		left: calc(50% - 65px);
	}
	.download-box .name {
		width: 100%;
		line-height: 30px;
		font-size: 22px;
		color: white;
		text-align: center;
		position: relative;
		user-select: none;
		display: block;
		font-family: sans-serif;
	}
	.download-box .description {
		width: 100%;
		line-height: 20px;
		font-size: 18px;
		color: white;
		font-family: sans-serif;
	
		padding: 20px;
		padding-top: 10px;
		padding-bottom: 0px;
		opacity: 0.4;
		user-select: none;
	}
	.one-more-time-box {
		width: calc(100% - 40px);
		padding: 20px;
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.1);
		font-family: sans-serif;
		color: white;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.one-more-time-box .one-more-time-box-title {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 20px;
		text-align: center;
		
	}

}

@media screen and (max-width: 400px) {
	.content .video-transperent-cube {
		width: calc(100vw - 50px);
		height: calc(100vw - 50px);
		margin-left: calc(25px - 10px);
		opacity: 1;
		filter: brightness(0.897);
	}
}






.content .bar .menu {
	border: 0;

	min-width: 100px;
	max-width: 100vw;

	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;

	min-height: 40px;
	max-height: 300px;
}

table {
	width: 100%;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
}

.color-red {
	color: rgb(255, 59, 48);
}
.color-orange {
	color: rgb(255, 149, 0);
}
.color-yellow {
	color: rgb(255, 204, 0);
}
.color-green {
	color: rgb(52, 199, 89);
}
.color-mint {
	color: rgb(0, 199, 190);
}
.color-teal {
	color: rgb(48, 176, 199);
}
.color-cyan {
	color: rgb(50, 173, 230);
}
.color-blue {
	color: rgb(0, 122, 255);
}
.color-indigo {
	color: rgb(88, 86, 214);
}
.color-purple {
	color: rgb(175, 82, 222);
}
.color-pink {
	color: rgb(255, 45, 85);
}
.color-brown {
	color:  rgb(162, 132, 94);
}
.loading-icon {
	width: 20px;
	height: 20px;
	background: url(/emoji/loading.svg) no-repeat;
	background-size: 100%;
	display: inline-block;
	animation-name: animLoading;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes animLoading {
	0% {
		transform: rotate(0deg);
	}
	100% {

		transform: rotate(360deg);
	}
}



